<footer>
    <div class="info">
        <div class="hospital">
            <img src="../../../assets/images/logo2.png" alt="">
            <h2>კლინიკა</h2>
        </div>
        <div class="details">
            <div class="headers">
                <h2>{{'information'|translate}}</h2>
                <h2>{{'for patient'|translate}}</h2>
                <h2>{{'contact'|translate}}</h2>
                <h2>{{'follow us'|translate}}</h2>
            </div>
            <div class="informations">
                <div class="content1">
                    <h3>{{'about us'|translate}}</h3>
                    <h3>{{'partners'|translate}}</h3>
                    <h3>{{'for doctors'|translate}}</h3>
                    <h3>{{'for clinics'|translate}}</h3>
                    <h3>{{'for pharmacies'|translate}}</h3>
                </div>
                <div class="content2">
                    <h3>{{'doctor'|translate}}</h3>
                    <h3>{{'clinics'|translate}}</h3>
                    <h3>{{'anotations'|translate}}</h3>
                    <h3>{{'blog'|translate}}</h3>
                    <h3>{{'media'|translate}}</h3>
                </div>
                <div class="content3">
                    <h3>{{'working days'|translate}} : {{'mon-fri'|translate}}</h3>
                    <h3>{{'working time'|translate}} : 09:00-17:00</h3>
                    <h3>{{'iakob nikoladze'|translate}} №10</h3>
                    <h3>032 2 100 100</h3>
                </div>
                <div class="content4">
                    <h3>Facebook</h3>
                    <h3>Instagram</h3>
                    <h3>Youtube</h3>
                </div>
            </div>
        </div>
    </div>
    <p class="copyright">copyright</p>
</footer>
