<footer>
    <div class="info">
        <div class="hospital">
            <img src="../../../assets/images/logo2.png" alt="">
            <h2>კლინიკა</h2>
        </div>
        <div class="details">
            <div class="headers">
                <h2>ინფორმაცია</h2>
                <h2>პაციენტებისთვის</h2>
                <h2>კონტაქტი</h2>
                <h2>გამოგვყევით</h2>
            </div>
            <div class="informations">
                <div class="content1">
                    <h3>ჩვენს შესახებ</h3>
                    <h3>პარტნიორები</h3>
                    <h3>ექიმებისთვის</h3>
                    <h3>კლინიკებისთვის</h3>
                    <h3>აფთიაქებისთვის</h3>
                </div>
                <div class="content2">
                    <h3>ექიმები</h3>
                    <h3>კლინიკები</h3>
                    <h3>ანოტაციები</h3>
                    <h3>ბლოგი</h3>
                    <h3>მედია</h3>
                </div>
                <div class="content3">
                    <h3>სამუშაო დღეები : ორშ - პარ</h3>
                    <h3>სამუშაო დრო : 09:00-17:00</h3>
                    <h3>იაკობ ნიკოლაძე №10</h3>
                    <h3>032 2 100 100</h3>
                </div>
                <div class="content4">
                    <h3>Facebook</h3>
                    <h3>Instagram</h3>
                    <h3>Youtube</h3>
                </div>
            </div>
        </div>
    </div>
    <p class="copyright">copyright</p>
</footer>
