<div class="main-cont">
    <div class="navigation">
        <div class="navlinks">
            <svg width="28" height="17" viewBox="0 0 28 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="28" height="3" rx="1.5" fill="#18A4E1"/>
                <rect y="7" width="23" height="3" rx="1.5" fill="#18A4E1"/>
                <rect y="14" width="16" height="3" rx="1.5" fill="#18A4E1"/>
            </svg>
               
            <a routerLink="registration" routerLinkActive="active"><span>რეგისტრაცია</span></a>
            <a routerLink="categories" routerLinkActive="active"><span>კატეგორიები </span></a>
            <a routerLink="doctors" routerLinkActive="active"><span>ექიმები</span></a>
        </div>
        <div class="roles">
            <div [class.activated]="url==='/admin/doctors'">
                <h2>ექიმი</h2>

            </div>
            <div>
                <h2>მომხმარებელი</h2>

            </div>
            <div>
                
                <h2>ადმინისტრატორი</h2>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>