.main-cont {
  padding: 50px 120px;
  display: flex;
  gap: 70px;
}
.categories {
  height: 800px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 50px;
  gap: 25px;
  box-shadow: 0px 4px 50px 0px #0533540d;
  border-radius: 10px;
}
.categories h3 {
  font-size: 18px;
  font-weight: 500;
}
.category {
  display: flex;
  gap: 5px;
  width: 100%;
}
.category span {
  color: rgb(165, 165, 165);
  font-size: 16px;
  width: 45px;
}
.category h4 {
  font-size: 16px;
  font-weight: 400;
  color: #053354;
}
.line {
  margin-top: 20px;
}
.view-full {
  font-size: 14px;
  font-weight: 400;
  color: #18a4e1;
}
.doctor {
  border: 1px solid #ecf2f8;
  box-shadow: 0px 4px 30px 0px #0533540d;
  padding: 20px 25px;
  display: flex;
  gap: 40px;
}
.doctor img {
  width: 157px;
  height: 157px;
  border-radius: 50%;
}
.personal-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.position {
  color: #0533544d;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
}
.line {
  width: 2px;
  height: 140px;
  background-color: #ecf2f8;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}
.description p {
  font-size: 18px;
  font-weight: 400;
  color: #053354;
}
.description p span {
  color: #18a4e1;
}
