.main {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inputs input {
  border: 1px solid gray;
  border-radius: 4px;
  padding-left: 5px;
  height: 30px;
  border-radius: 20px;
}
.inputs button {
  margin-top: 30px;
  border: none;
  background-color: #ecf2f8;
  height: 50px;
  border-radius: 50px;
  color: #18a4e1;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.error {
  color: red;
}
