<div class="main">
    <h2>{{"change email"|translate}}</h2>

<div class="inputs" *ngIf="emailVerificationCodeSent">
    <label for="">{{"enter verification code"|translate}}</label>
    <input type="text" [(ngModel)]="oldEmailCode">
    <button (click)="verifyCode()">{{"submit"|translate}}</button>
</div>

<div class="inputs" *ngIf="oldEmailVerified">
    <label for="">{{"enter new email"|translate}}</label>
    <input type="text" [(ngModel)]="newEmail">
    <button (click)="enterNewEmail()">{{"submit"|translate}}</button>
</div>


<div class="inputs" *ngIf="newEmailCodeSent">
    <label for="">{{"enter code from new mail"|translate}}</label>
    <input type="text" [(ngModel)]="newEmailCode">
    <button (click)="verifyNewCode()">{{"submit"|translate}}</button>
</div>

<h2 *ngIf="succesfullyChanged">{{"email changed successfully"|translate}}</h2>
<p class="error">{{errorMessage}}</p>
</div>