.main-cont {
  display: flex;
  gap: 30px;
  padding: 50px 120px;
}
.categories {
  height: 800px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 50px;
  gap: 25px;
  box-shadow: 0px 4px 50px 0px #0533540d;
  border-radius: 10px;
}
.categories h3 {
  font-size: 18px;
  font-weight: 500;
}
.category {
  display: flex;
  gap: 5px;
  width: 100%;
}
.category span {
  color: rgb(165, 165, 165);
  font-size: 16px;
  width: 45px;
}
.category h4 {
  font-size: 16px;
  font-weight: 400;
  color: #053354;
}
.line {
  margin-top: 20px;
}
.view-full {
  font-size: 14px;
  font-weight: 400;
  color: #18a4e1;
}
.user img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
.user-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ecf2f8;
  box-shadow: 0px 4px 30px 0px #0533540d;
  border-radius: 10px;
  padding: 80px;
  align-items: center;
  gap: 40px;
}
.user h2 {
  color: #18a4e1;
  font-size: 18px;
  font-weight: 400;
}
.user-card div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
h3 {
  color: #053354;
  font-family: FiraGO;
  font-size: 18px;
  font-weight: 400;
}
.user-card div span {
  color: #0533544d;

  font-size: 18px;
  font-weight: 400;
}
.calendar h2 {
  color: #18a4e1;
  font-size: 26px;
  font-weight: 500;
}
.calendar h2 span {
  font-weight: 500;
  color: #0533544d;
}
