.error_background {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: #eceded;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.error_background img {
  margin-top: 200px;
  width: 400px;
}
.error_background h2 {
  font-size: 40px;
}
